.brand {
  margin: 1rem;
}

.brand img {
  width: 8%;
}

.brand h1 {
  color: rgb(61, 140, 215);
  display: inline-block;
  font-size: 4rem;
  width: 30%;
  font-weight: bold;
}

.item-container {
    display: flex;
    width: 400px;
    height: 250px;
    
}

nav ul {
  background: rgb(61, 140, 215);
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
  
nav ul li a {
    color: white;
}

.logoSlogan {
      margin: 1rem;
      
}

.logoSlogan img {
  
  height: 10rem;
}

.logoSlogan h1 {
  color: rgb(61, 140, 215);
  display: inline-block;
  font-size: 4rem;
  width: 30%;
  font-weight: bold;
}
/*tried to do my own flexible grid without any success going to link to bootstrap instead
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}*/

.item img{
  width: 100%;
}

#item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 28.3333%;
  border: 1px solid black;
  margin: 0 0.5rem 0.5rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}