body {
    background-color: lightgreen;
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}

.brand {
  margin: 1rem;
}

.brand img {
  width: 8%;
}

.brand h1 {
  color: rgb(61, 140, 215);
  display: inline-block;
  font-size: 4rem;
  width: 30%;
  font-weight: bold;
}

/*.item-container {
    display: flex;
    width: 400px;
    height: 250px;
    
}*/

p{
  font-size: 1rem;
 }

.product-image{
  height: 100px;
  width: 100px;
}

.product-name{
  font-size: 2rem;
}

#item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0.5rem;
}

nav ul {
  background: rgb(61, 140, 215);
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
  
nav ul li a {
    color: white;
}

.logoSlogan {
      margin: 1rem;
      
}

.logoSlogan img {
  
  height: 10rem;
}

.logoSlogan h1 {
  color: rgb(61, 140, 215);
  display: inline-block;
  font-size: 4rem;
  width: 30%;
  font-weight: bold;
}
/* For mobile phones: */
[class*="col-"] {
    /*float: left;
    padding: 15px;*/
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /*For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.item img{
  width: 100%;
}

#item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*
.item {
  width: 28.3333%;
  border: 1px solid black;
  margin: 0 0.5rem 0.5rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}*/
